.category {
  margin-top: 25px;
  border-top: groove 1px black;
}

.category-name {
  text-align: right;
}

.dp {
  width: 550px;
  margin: auto;
  text-align: justify;
}

  @media print {
     .dp {
	   width: 100%;
       text-align: justify;
	   page-break-after: always;
	 }
  }

.dp th {
  vertical-align: top;
  text-align:left;
  padding-right: 20px;
  font-weight: normal;
}

.dp-name, .dp-confidence {
  font-size:50px;
}

  @media print {
    .dp-name, .dp-confidence {
      font-size:40px;
    }   
  }

.dp-picture {
  border: solid 2px #FBEFEF;
  max-height:400px;
  max-width: 4000px;
}

.dp-problem, .dp-solution {
  font-weight:bold;
}

.dp-form textarea, .dp-form td{
  width: 500px;
}

.dp-citation {
  font-size: small;
  text-align:right;
  margin-top:10px;
}

.dp-end {
  text-align: right;
}

  @media print{
    .dp-end{
	  display: none;
	}
  }


/* Global theme (inspired by Constructor theme on WordPress) */
body {
  font-family:Arial,Helvetica,sans-serif;
  font-size-adjust:none;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:1.6;
  background-image:url(../images/header.png);
  background-position:center top;
  background-repeat:no-repeat;
}

  @media print {
    body {
	  background-image:none;
    }
  }

a {
  color:#333333;
  text-decoration:underline;
}

  .anchor {
    text-decoration: none;
  }

.dp-menu {
  text-align:right;
}

  @media print {
    .dp-menu {
	  display:none;
	}  
  }

#wrapper {
  width:100%;
}

h1 {font-size:2.0em }
h2 {font-size:1.8em }
h3 {font-size:1.6em; margin:12px 0}

.summary {
  width:80%;
  margin: auto 10%;
  border-collapse: collapse;
}

  @media print {
    .summary {
	  width:90%;
      margin: 0;
	  page-break-after: always;
	}  
  }

  .summary th {
    border:2px solid #AAAAAA;
    padding: 4px;
	background: #FBEFEF;
  }
  .summary td {
    border:1px solid #AAAAAA;
	padding: 10px;
  }
  .summary ul {
	margin:0;
	list-style: none;
  }

.sidebar {
  /*background: #FBEFEF;*/
  width:300px;
  border-right:1px solid #AAAAAA;
  float:left;
  padding: 5px;
  padding-top: 55px;
}

  .sidebar ul {
    margin-left: 0;
    margin-right: 0;
	padding-left: 15px;
	list-style: none;
	font-size: small;
  }

.patternName {
  font-style: italic; 
}

/*Header*/
#header {
    height:130px;
    position:relative
}
	#header .logo {
	    height:60%;
	    text-transform: uppercase;
	}
	#header h1 {
	    font-style: Verdana,Tahoma,sans-serif;
		font-size:3em;
	    letter-spacing: 3px;
	    margin:0;
	    padding:0;
	}
	  #header h1 a {
	    text-decoration:none;
	  }
	#header h2 {
	    display:block;
	    font-size:0.9em;
	    margin:0;
	    padding:0;
	}

#header, #footer { /* All in the center of the page */
  width:800px;
  clear:both;
  margin:0 auto;
}

#content {
  clear:both;
  margin:50px 10%;
}

  @media print {
    #content {
      clear:both;
      margin:10px 10px;
    }
  }

#menu {
  border:1px dotted #AAAAAA;
  text-align:center;
  word-spacing: 5px;
}

@media print {
  #menu {
    display: none;
  }
}

#container {
  padding:20px;
}

#footer {
  clear:both;
  font-size:0.7em;
  text-align:center;
  margin:0 auto;
  margin-top:20px;
  border-top:1px dotted #AAAAAA;
}

.signform {
    margin: auto;
	width: 400px;
}


/* Error message */
.error_list {
  padding:0;
  margin:0;
}
.error_list li {
  color: red;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  display:list-item;
}